@model Proyecto_Final_Software_Seguro.Models.LoginViewModel

<h1>Iniciar Sesión</h1>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Username">Usuario:</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label asp-for="Password">Contraseña:</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Iniciar Sesión</button>
</form>
