@model Proyecto_Final_Software_Seguro.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<style>
    /* Estilos para el formulario de registro */
    .register-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .text-danger {
        color: #dc3545;
        font-size: 14px;
    }

</style>

<h1>Register</h1>

<form asp-controller="Account" asp-action="Register" method="post" class="register-form">
    <div class="form-group">
        <label asp-for="Username" class="form-label">Username:</label>
        <input asp-for="Username" class="form-input" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="form-label">Password:</label>
        <input asp-for="Password" type="password" class="form-input" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password:</label>
        <input asp-for="ConfirmPassword" type="password" class="form-input" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
